{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Create new channel</h1>
    <form method="post" action="/create_device/create_channel" class="form-grid">
        <label for="channel_name">* Channel name:</label>
        <input type="text" id="channel_name" name="channel_name" required>

        <label for="driver">* Device driver:</label>
        <select name="driver" id="driver">
            <option value="OPC UA Client">OPC UA Client</option>
            <option value="Simulator">Simulator</option>
        </select>

        <label for="endpoint_url">* Endpoint URL:</label>
        <input type="text" id="endpoint_url" name="endpoint_url" value="opc.tcp://10.52.32.214:4840" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description">

        <button type="submit" class="centered-button">Create channel</button>
    </form>
</div>
{% endblock %}
