{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Create new device</h1>
    <form method="post" action="/create_device/create_OPC_UA_CLIENT_device" class="form-grid" enctype="multipart/form-data">
        <label for="channel_name">Channel name:</label>
        <input type="text" id="channel_name" name="channel_name" readonly value="{{ channel_name }}">

        <label for="device_name">* Device name:</label>
        <input type="text" id="device_name" name="device_name" required>

        <label for="driver">Driver:</label>
        <input type="text" id="driver" name="driver" value="{{ driver }}" readonly>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description">

        <label for="image">Upload image (.png):</label>
        <input type="file" id="image" name="image" accept="image/png" required>

        <!-- hidden input pro 'line' -->
        <input type="hidden" name="line" value="{{ line }}">

        <button type="submit" class="centered-button">Create device</button>
    </form>
</div>
{% endblock %}
