{% extends "base.html" %}

{% block content %}

<section class="container">
    <h1>Device Mapping</h1>
    <h2></h2>
    <div class="device-links">
        <a href="/device_mapping/device?line=MovingLine"><img src="../static/images/MovingLine-icon.png" alt="MovingLine"><p>MovingLine</p></a>
        <a href="/device_mapping/device?line=MEX"><img src="../static/images/MEX-icon.png" alt=""><p>MEX</p></a>
        <a href="/device_mapping/device?line=LDR"><img src="../static/images/LDR-icon.png" alt=""><p>LDR</p></a>
        <a href="/device_mapping/device?line=CWL"><img src="../static/images/CWL-icon.png" alt=""><p>CWL</p></a>
        <a href="/device_mapping/device?line=CAIRO"><img src="../static/images/CAIRO-icon.png" alt=""><p>CAIRO</p></a>
        <a href="/device_mapping/device?line=WML"><img src="../static/images/WML-icon.png" alt=""><p>WML</p></a>
        <a href="/device_mapping/device?line=PaintShop"><img src="../static/images/PaintShop-icon.png" alt=""><p>PaintShop</p></a>
        <a href="/device_mapping/device?line=TruBend"><img src="../static/images/TruBend-icon.png" alt=""><p>TruBend</p></a>
        <a href="/device_mapping/device?line=Laser"><img src="../static/images/Laser-icon.png" alt=""><p>Laser</p></a>
    </div>
</section>

{% endblock %}
