{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Device Details</h1>
    <div class="device-details">
        <h2>Channel: {{ device_info.channel }}</h2>
        <h3>Device: {{ device_info.device }}</h3>
        <h3>IP address: {{ device_info.device_id }}</h3>
        <div class="icons-section">
            <a href="/device_mapping/show_tags?channel={{ device_info.channel }}&device={{ device_info.device }}&device_id={{ device_info.device_id }}"><button>Show tags</button></a>
            <a href="/device_mapping/edit_device"><button>Edit device</button></a>
            <a href="/device_mapping/delete_device?channel={{ device_info.channel }}&device={{ device_info.device }}"><button>Delete device</button></a>
            <a href="/device_mapping/device_details?channel={{ device_info.channel }}&device={{ device_info.device }}"><button>Refresh</button></a>
        </div>
        <p style="padding: 10px"> </p>
        <img src="/static/images/{{ device_info.device }}.png" alt="Device: {{ device_info.device }}" style="width: 100%; height: auto;">

        {% if tags %}
            <h2>Seznam tagů:</h2>
            <table border="1" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th>Název tagu</th>
                        <th>Hodnota</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>{{ tag.name }}</td>
                            <td>{{ tag.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <a href="/device_mapping/cancel_tags?channel={{ device_info.channel }}&device={{ device_info.device }}&device_id={{ device_info.device_id }}"><button>Cancel tags</button></a>
        {% endif %}

    </div>

</div>
{% endblock %}
