{% extends "base.html" %}

{% block content %}

<div class="container">
    <div style="text-align: left">
        <a href="/device_mapping/device" class="btn-back"><img src="../static/images/back-btn.png" alt="Back"></a>
    </div>
    <h1>Device Details</h1>
    <div class="device-details">
        <h2>Channel: {{ device_info.channel }}</h2>
        <h3>Device: {{ device_info.device }}</h3>
        <h3>IP address: {{ device_info.device_id }}</h3>
        <div class="icons-section">
            <a href="/device_mapping/show_tags?channel={{ device_info.channel }}&device={{ device_info.device }}&device_id={{ device_info.device_id }}" class="btn-admin">Show tags</a>
            <a href="/device_mapping/edit_device?channel={{ device_info.channel }}&device={{ device_info.device }}&device_id={{ device_info.device_id }}" class="btn-admin">Edit device</a>
            <a href="/device_mapping/delete_device?channel={{ device_info.channel }}&device={{ device_info.device }}" class="btn-admin">Delete device</a>
            <a href="/device_mapping/device_details?channel={{ device_info.channel }}&device={{ device_info.device }}" class="btn-admin">Refresh</a>
        </div>
        <p style="padding: 10px"> </p>
        <img src="/static/images/{{ device_info.device }}.png" alt="Device: {{ device_info.device }}" style="width: 100%; height: auto;">

        {% if tags %}
            <h2>Tag list:</h2>
            <table border="1" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tags %}
                        <tr>
                            <td>{{ tag.name }}</td>
                            <td>{{ tag.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <p style="padding: 5px"></p>
        <a href="/device_mapping/cancel_tags?channel={{ device_info.channel }}&device={{ device_info.device }}&device_id={{ device_info.device_id }}"><button>Cancel tags</button></a>
        {% endif %}

    </div>

</div>
{% endblock %}
