{% extends "base.html" %}

{% block content %}
<div class="container">
    <!-- Ikony s odkazy -->
    <div class="icon-links">
        <a href="/automation/dashboard"><img src="/static/images/automation-icon.png" alt="Automation"><p>Automation</p></a>
        <a href="#"><img src="/static/images/cnc-icon.png" alt="CNC Machine"><p>CNC Machine</p></a>
        <a href="/device_mapping/lines"><img src="/static/images/device-icon.png" alt="Device Mapping"><p>Device Mapping</p></a>
        <a href="/main/plant_status"><img src="/static/images/plant-status-icon.png" alt="Plant Status"><p>Plant Status</p></a>
    </div>

</div>
{% endblock %}
