{% extends "base.html" %}

{% block content %}
<div class="container">
    <section class="plant-map-section">
        <h1>Detail of {{ line }} line</h1>

        <div class="legend">
            <h2>Legend:</h2>
            <ul>
                <li><span class="legend-color running"></span>RUNNING</li>
                <li><span class="legend-color idle"></span>IDLE</li>
                <li><span class="legend-color maintenance"></span>MAINTENANCE</li>
                <li><span class="legend-color error"></span>ERROR</li>
            </ul>
        </div>

        <div class="svg-wrapper" style="width: 90vw">
            <object id="svg-plant" type="image/svg+xml" data="../static/svg/{{ line }}.svg" height="auto"></object>
        </div>
    </section>

    <!-- Modal (popup) -->
    <div id="popup" class="popup">
      <div class="popup-content">
        <span id="close-popup" class="popup-close">&times;</span>
        <h3>Line status: <span id="popup-line"></span></h3>
        <p>Status: <strong id="popup-status"></strong></p>
        <a id="popup-link" href="#"><button id="popup-link-btn">Go to device</button></a>
      </div>
    </div>
</div>

<!-- Pop-up window + svg dynamika -->
<script>
  document.getElementById("svg-plant").addEventListener("load", function () {
    const svgDoc = this.contentDocument;

    const popup = document.getElementById("popup");
    const popupLine = document.getElementById("popup-line");
    const popupStatus = document.getElementById("popup-status");
    const popupLink = document.getElementById("popup-link");
    const popupButton = document.getElementById("popup-link-btn");

    function showPopup(lineName) {
      popupLine.textContent = lineName;
      popupStatus.textContent = "ruining";
      popup.classList.add("show");
      popupLink.href = `/device_mapping/device?line=${encodeURIComponent(lineName)}&status="ok"`;
      popupButton.textContent = `Go to ${lineName}`;
    }

    document.getElementById("close-popup").addEventListener("click", (event) => {
      event.stopPropagation();
      popup.classList.remove("show");
    });

    // Najdeme všechny skupiny <g> s id
    const groups = svgDoc.querySelectorAll("g[id]");

    groups.forEach(group => {
      const groupId = group.id;

      // Každý <rect> uvnitř skupiny uděláme klikací
      const rects = group.querySelectorAll("rect");
      rects.forEach(rect => {
        rect.style.cursor = "pointer";

        rect.addEventListener("mouseenter", () => {
          rect.style.stroke = "#ff0000";
          rect.style.strokeWidth = "2";
        });

        rect.addEventListener("mouseleave", () => {
          rect.style.stroke = "none";
        });

        rect.addEventListener("click", (e) => {
          e.preventDefault();
          showPopup(groupId);
        });
      });
    });
  });
</script>

{% endblock %}
